:root {
  --color-primary: #181818;
  --color-secondary: #f0f0f0;
  --tipo-major: Helvetica, Arial, sans-serif;
  --tipo-secundary: Verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f0f0f0;
    --color-secondary: #181818;
  }
}

@media (prefers-contrast: high) {
  :root {
    --color-primary: #181818;
    --color-secondary: #f0f0f0;
  }
}

@media (prefers-reduced-motion: reduce) {
  img,
  picture,
  video,
  iframe,
  figure,
  a,
  p,
  li,
  html,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a,
  strong,
  blockquote,
  i,
  b,
  u,
  em,
  form,
  input,
  textarea,
  select,
  button,
  label,
  table,
  tr,
  td,
  svg,
  body {
    animation: none;
    transition: none;
  }
}

img,
picture,
video,
iframe,
figure,
a,
p,
li,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
form,
input,
textarea,
select,
button,
label,
table,
tr,
td,
svg,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-major);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  line-height: 1.4em;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smothing: grayscale;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: #0378A6;
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  color: #F2F2F2;
  height: 40px;
}

.header__h1 {
  font-size: 1.4em;
  font-weight: 700;
  color: #F2F2F2;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  width: 300px;
}

.header__menu {
  font-size: 1em;
}

@media (min-width: 750px) {
  .header {
    display: block;
  }
}

.header-movil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  background-color: #0378A6;
  height: 40px;
}

.header-movil__h1 {
  font-size: 1.4em;
  font-weight: 700;
  color: #F2F2F2;
}

.header-movil svg {
  fill: #F2F2F2;
}

@media (min-width: 750px) {
  .header-movil {
    display: none;
  }
}

@media (min-width: 750px) {
  .main__section-banner-movil {
    display: none;
  }
}

.main__section-banner {
  display: none;
}

@media (min-width: 750px) {
  .main__section-banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 0;
    padding-top: 50px;
  }
}

@media (max-width: 300px) {
  .main__banner {
    width: 100%;
    height: 300px;
    background-image: url(../assets/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main__img-banner {
  width: 240px;
  height: 360px;
  margin: 30px auto 0 auto;
}

@media (max-width: 300px) {
  .main__img-banner {
    display: none;
  }
}

@media (min-width: 750px) {
  .main__img-banner {
    width: 400px;
    height: 560px;
    margin: 30px auto 0 auto;
  }
}

.main__img-banner-down {
  width: 150px;
  height: 200px;
  background-image: url(../assets/banner-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 750px) {
  .main__img-banner-down {
    width: 250px;
    height: 300px;
  }
}

.main__img-banner-over {
  width: 150px;
  height: 200px;
  background-image: url(../assets/banner-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -70px;
  left: 90px;
}

@media (min-width: 750px) {
  .main__img-banner-over {
    width: 250px;
    height: 300px;
  }
}

.main__about {
  background-color: #0378A6;
  color: #F2F2F2;
}

@media (min-width: 750px) {
  .main__about {
    width: 50%;
    max-width: 500px;
    height: 800px;
  }
}

.main__title-about {
  font-size: 1.5em;
  text-align: center;
  padding: 30px 0;
}

.main__text-about {
  font-size: 1em;
  padding: 0 0 30px 0;
  text-align: justify;
}

@media (min-width: 750px) {
  .main__section-testimonial-movil {
    display: none;
  }
}

.main__section-testimonial {
  display: none;
}

@media (min-width: 750px) {
  .main__section-testimonial {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    gap: 0;
    margin-top: 30px;
  }
}

.main__testimonials {
  background-color: #049DBF;
  color: #F2F2F2;
}

@media (min-width: 750px) {
  .main__testimonials {
    max-width: 500px;
    width: 60%;
    height: 650px;
    position: relative;
    top: -250px;
    z-index: 2;
  }
}

.main__title-testimonials {
  font-size: 1.5em;
  text-align: center;
  padding: 30px 0;
}

.main__text-testimonials {
  font-size: 1em;
  padding: 0 0 30px 0;
  text-align: justify;
}

.main__guias {
  padding: 70px 0;
}

@media (min-width: 750px) {
  .main__guias {
    width: 30%;
    margin: 0;
    padding: 0;
  }
}

.main__cards-guias {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  gap: 20px;
}

@media (min-width: 750px) {
  .main__cards-guias {
    margin-left: 20px;
  }
}

.main__cards-img-guia {
  width: 220px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__cards-img-guia--first {
  background-image: url("../assets/guias-1.jpg");
}

.main__cards-img-guia--second {
  background-image: url("../assets/guias-2.jpg");
}

.main__cards-img-guia-third {
  background-image: url("../assets/guias-3.jpg");
}

.main__information-cards {
  align-content: center;
}

.main__name-cards {
  font-size: 1.2em;
  font-weight: bold;
  color: #012E40;
  padding-bottom: 5px;
}

.main__text-cards {
  font-size: 1em;
  padding: 0 0 30px 0;
  text-align: justify;
  padding-bottom: 50px;
}

.main__title-experience-father {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 50px;
}

.main__experience {
  color: #012E40;
}

@media (min-width: 750px) {
  .main__line-decoration {
    width: 150px;
    height: 5px;
    background-color: #FF8F64;
    margin-bottom: 17px;
  }
}

.main__title-experience {
  font-size: 1.5em;
  text-align: center;
  padding: 30px 0;
  font-size: 2em;
  padding-bottom: 50px;
}

@media (min-width: 750px) {
  .main__cards-experience--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0;
    height: 500px;
  }
}

.main__cards-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;
}

@media (min-width: 750px) {
  .main__cards-experience {
    width: 270px;
  }
}

.main__cards-img-experience {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 750px) {
  .main__cards-img-experience {
    width: 100px;
  }
}

.main__cards-img-experience--first {
  background-image: url("../assets/experiencia-1.jpg");
}

.main__cards-img-experience--second {
  background-image: url("../assets/experiencia-2.jpg");
}

.main__cards-img-experience--third {
  background-image: url("../assets/experiencia-3.jpg");
}

.main__cards-information {
  text-align: center;
  color: #012E40;
}

.main__title-cards {
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 20px;
}

.main__description-cards {
  font-size: 1em;
  padding: 0 0 30px 0;
  text-align: justify;
  text-align: center;
}

.main__decoration {
  width: 240px;
  height: 360px;
  margin: 0 auto;
}

@media (max-width: 300px) {
  .main__decoration {
    width: 100%;
    height: 300px;
    background-image: url("../assets/footer-banner-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 750px) {
  .main__decoration {
    height: 660px;
    margin: 0 auto;
  }
}

.main__img-decoration-down {
  width: 150px;
  height: 200px;
  background-image: url("../assets/footer-banner-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 90px;
}

@media (max-width: 300px) {
  .main__img-decoration-down {
    display: none;
  }
}

@media (min-width: 750px) {
  .main__img-decoration-down {
    width: 250px;
    height: 300px;
  }
}

.main__img-decoration-over {
  width: 150px;
  height: 150px;
  background-image: url("../assets/footer-banner-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: 40px;
}

@media (max-width: 300px) {
  .main__img-decoration-over {
    display: none;
  }
}

@media (min-width: 750px) {
  .main__img-decoration-over {
    width: 250px;
    height: 300px;
  }
}

.main__map {
  width: 100%;
  height: 300px;
  background-color: red;
}

@media (min-width: 750px) {
  .main__map {
    width: 50%;
  }
}

@media (min-width: 750px) {
  .main__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse nowrap;
    gap: 90px;
  }
}

.main__contact-form {
  color: #012E40;
}

@media (min-width: 750px) {
  .main__contact-form {
    width: 50%;
  }
}

.main__title-contact {
  font-size: 1.5em;
  text-align: center;
  padding: 30px 0;
}

.main__label-contact {
  padding: 20px 0 10px 0;
  font-size: 1.2rem;
}

.main__input-contact {
  background-color: #0378A6;
  outline: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  color: #F2F2F2;
}

.main__input-contact--textarea {
  height: 100px;
  padding: 10px 0 10px 10px;
}

.main__btn-contact {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #012E40;
  color: #F2F2F2;
  margin: 40px auto;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0;
  background-color: #0378A6;
}

.footer__red-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  color: #F2F2F2;
  padding: 20px 0;
  width: 100px;
}

.footer__a {
  width: 50px;
}

.footer__p {
  padding-bottom: 20px;
  color: #F2F2F2;
}
