.header {
  background-color: $blue-primary;
  display: none;

  &__container {
    @include flex($justify: space-between);
    color: $white;
    height: 40px;
  }

  &__h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: $white;
  }

  &__nav {
    @include flex($justify: space-around);
    width: 300px;
  }

  &__menu {
    font-size: 1em;
  }

  @include mediaMin(750px) {
    display: block;
  }
}
.header-movil {
  @include flex(space-between, center);
  background-color: $blue-primary;
  height: 40px;

  &__h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: $white;
  }

  svg {
    fill: $white;
  }

  @include mediaMin(750px) {
    display: none;
  }
}

.main {
  &__section-banner-movil {
    @include mediaMin(750px) {
      display: none;
    }
  }

  &__section-banner {
    display: none;
    @include mediaMin(750px) {
      @include flex($justify: center, $align: flex-start);
      padding-top: 50px;
    }
  }
  &__banner {
    @include mediaMax(300px) {
      width: 100%;
      height: 300px;
      background-image: url(../assets/banner-1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__img-banner {
    width: 240px;
    height: 360px;
    margin: 30px auto 0 auto;
    @include mediaMax(300px) {
      display: none;
    }

    @include mediaMin(750px) {
      // background-color: red;
      width: 400px;
      height: 560px;
      margin: 30px auto 0 auto;
    }
  }

  &__img-banner-down {
    width: 150px;
    height: 200px;
    background-image: url(../assets/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mediaMin(750px) {
      width: 250px;
      height: 300px;
    }
  }

  &__img-banner-over {
    width: 150px;
    height: 200px;
    background-image: url(../assets/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -70px;
    left: 90px;

    @include mediaMin(750px) {
      width: 250px;
      height: 300px;
    }
  }

  &__about {
    background-color: $blue-primary;
    color: $white;

    @include mediaMin(750px) {
      width: 50%;
      max-width: 500px;
      height: 800px;
    }
  }

  &__title-about {
    @include title;
  }

  &__text-about {
    @include text;
  }

  &__section-testimonial-movil {
    @include mediaMin(750px) {
      display: none;
    }
  }

  &__section-testimonial {
    display: none;
    @include mediaMin(750px) {
      @include flex($justify: center, $align: flex-start);
      margin-top: 30px;
    }
  }

  &__testimonials {
    background-color: $blue-secundary;
    color: $white;

    @include mediaMin(750px) {
      max-width: 500px;
      width: 60%;
      height: 650px;
      position: relative;
      top: -250px;
      z-index: 2;
    }
  }

  &__title-testimonials {
    @include title;
  }

  &__text-testimonials {
    @include text;
  }

  &__guias {
    padding: 70px 0;

    @include mediaMin(750px) {
      width: 30%;
      margin: 0;
      padding: 0;
    }
  }

  &__cards-guias {
    @include flex($gap: 20px, $align: flex-start);

    @include mediaMin(750px) {
      margin-left: 20px;
    }
  }

  &__cards-img-guia {
    width: 220px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__cards-img-guia--first {
    background-image: url("../assets/guias-1.jpg");
  }
  &__cards-img-guia--second {
    background-image: url("../assets/guias-2.jpg");
  }
  &__cards-img-guia-third {
    background-image: url("../assets/guias-3.jpg");
  }

  &__information-cards {
    align-content: center;
  }

  &__name-cards {
    font-size: 1.2em;
    font-weight: bold;
    color: $blue-dark;
    padding-bottom: 5px;
  }

  &__text-cards {
    @include text;
    padding-bottom: 50px;
  }

  &__title-experience-father {
    @include flex($justify: center, $gap: 50px);
  }

  &__experience {
    color: $blue-dark;
  }

  &__line-decoration {
    @include mediaMin(750px) {
      width: 150px;
      height: 5px;
      background-color: $orange;
      margin-bottom: 17px;
    }
  }

  &__title-experience {
    @include title;
    font-size: 2em;
    padding-bottom: 50px;
  }

  &__cards-experience--container {
    @include mediaMin(750px) {
      @include flex($justify: space-around);
      height: 500px;
    }
  }

  &__cards-experience {
    @include flex($justify: center, $direction: column, $gap: 20px);
    @include mediaMin(750px) {
      width: 270px;
    }
  }

  &__cards-img-experience {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mediaMin(750px) {
      width: 100px;
    }
  }

  &__cards-img-experience--first {
    background-image: url("../assets/experiencia-1.jpg");
  }
  &__cards-img-experience--second {
    background-image: url("../assets/experiencia-2.jpg");
  }
  &__cards-img-experience--third {
    background-image: url("../assets/experiencia-3.jpg");
  }

  &__cards-information {
    text-align: center;
    color: $blue-dark;
  }

  &__title-cards {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 20px;
  }

  &__description-cards {
    @include text;
    text-align: center;
  }

  &__decoration {
    width: 240px;
    height: 360px;
    margin: 0 auto;

    @include mediaMax(300px) {
      width: 100%;
      height: 300px;
      background-image: url("../assets/footer-banner-1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include mediaMin(750px) {
      height: 660px;
      margin: 0 auto;
    }
  }

  &__img-decoration-down {
    width: 150px;
    height: 200px;
    background-image: url("../assets/footer-banner-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 90px;

    @include mediaMax(300px) {
      display: none;
    }

    @include mediaMin(750px) {
      width: 250px;
      height: 300px;
    }
  }
  &__img-decoration-over {
    width: 150px;
    height: 150px;
    background-image: url("../assets/footer-banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 40px;
    @include mediaMax(300px) {
      display: none;
    }

    @include mediaMin(750px) {
      width: 250px;
      height: 300px;
    }
  }

  &__map {
    width: 100%;
    height: 300px;
    background-color: red;
    @include mediaMin(750px) {
      width: 50%;
    }
  }

  &__contact {
    @include mediaMin(750px) {
      @include flex(
        $direction: row-reverse,
        $justify: space-between,
        $gap: 90px
      );
    }
  }

  &__contact-form {
    color: $blue-dark;
    @include mediaMin(750px) {
      width: 50%;
    }
  }

  &__title-contact {
    @include title;
  }

  &__label-contact {
    padding: 20px 0 10px 0;
    font-size: 1.2rem;
  }

  &__input-contact {
    background-color: $blue-primary;
    outline: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    color: $white;
  }

  &__input-contact--textarea {
    height: 100px;
    padding: 10px 0 10px 10px;
  }

  &__btn-contact {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: $blue-dark;
    color: $white;
    margin: 40px auto;
  }
}
.footer {
  @include flex($direction: column);
  background-color: $blue-primary;

  &__red-social {
    @include flex($justify: space-around);
    color: $white;
    padding: 20px 0;
    width: 100px;
  }

  &__a {
    width: 50px;
  }
  &__p {
    padding-bottom: 20px;
    color: $white;
  }
}
